    /* Reset CSS Start */

html, body{
    padding: 0px 0px;
    margin: 0px 0px;
}

/* Reset CSS END*/


    /* Body start */

body {
    background-color: white;
}

a{
    text-decoration: none;
}
li :hover{
    opacity: 60%;
    transition: 0.3s;
}

.header-wrap{
    display: block;
    font-family: Tangerine;
    background-color:#34cfcf;
    opacity: 90%;
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 1px;
}

.CV{
    font-size: 60px;
    color: black;
    display: inline;
}

.header-wpar-nav{
    text-align: right;
    display: inline;
    font-family: 'roboto';
}

.header-wrap-nav-ul{
    display: inline;
    text-align: center;
}

.header-wrap-nav-ul-li{
    font-size: 16px;
    font-weight: bold;
    display: inline;
    margin-right: 5px;
}

.main-wrap {
    margin: 10px;
    padding: 10px;
    border-radius: 1px;
    background-color: #C4D6FF;
}

.code-wpar{
    background-color: rgb(223, 220, 220);
    opacity: 60%;
    margin: 20px 20px;
    padding: 10px;
}

/* Body End */
